package template

import "xerus/internal/component"

// route!("GET /")
// middleware!(ParseForm)
templ Home(title string) {
	@Base(title) {
		@component.TextAndTitle("I'm a Component!", "I am included as a content item in the Base Template!")
		@component.TextAndTitle("I'm another Component!", "I am also included in the Base Template!")
	}
}
